/* Fonts import: */
@font-face {
    font-family: AlbertSans;
    src: url(../../fonts/AlbertSans.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../../fonts/OpenSans.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(../../fonts/Nunito.ttf);
}

@font-face {
    font-family: LemonMilk;
    src: url(../../fonts/LemonMilk.otf);
}

/* Breif style: */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../../Images/Background-images/food-background1.jpg);
    margin: 0;
    padding: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: 550;
}

#wrapper {
    background-color: #161718;
    min-height: 100%;
    width: 100%;
}

.hrSeperator {
    border: 1px #5b7e53 solid;
    text-align: center;
}

/* Navigation bar: */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #558748;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

#navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

#navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .15s;
}

#navbar a:hover::after {
    transform: scaleX(1);
}

#navbar #btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

#navbar #btnLogin-popup:hover {
    background: #ffffff;
    color: #162938;
}

 .recipes {
    position: relative;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: left;
    align-content: center;
    padding: 50px 15px 15px 15px;
    margin: 120px 15px 15px 15px;
    flex-wrap: wrap;
}

/* Recipe card: */
 #recipeCard {
    background-color: #d3dad2;
    border: #5b7e53 8px solid;
    color: #2A2B2E;
    padding: 5px 20px 0 20px;
    margin: 17px;
    border-radius: 20px;
    height: 850px;
    width: 470px;
    text-align: center;
    font-weight: 550;
}

#recipeCardTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#recipeCardInteract {
    background-color: #131313;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    float: right;
    padding: 4px;
    border: none;
}

 #recipeCardName {
    font-weight: 650;
    font-size: 25px;
    font-family: "Opensans", sans-serif;
}

 #recipeCardAuthor {
    font-size: 15px;
}

 #recipeCardDescription {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    font-family: "AlbertSans", sans-serif;
}

 #recipeCardTimeToMake {
     font-size: 18px;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     gap: 10px;
    margin-top: 8px;
}

 #recipeCardCostToMake {
    font-size: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 14px;
}

 #recipeCardFoodImg {
    width: 100%;
    height: 430px;
    align-content: center;
    border-radius: 7px;
    border: 4px solid #32522a;

}
 #recipeCardStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 0 15px 0 15px;
    margin-top: 5px;

}

/* Icons recolor and position:*/
img {
    vertical-align: middle;
}

 #recipeCardInteractIcon {
    align-items: center;
    vertical-align: middle;
    filter: invert(97%) sepia(100%) saturate(13%) hue-rotate(250deg) brightness(104%) contrast(104%);
}

#eeee {
    filter: invert(7%) sepia(11%) saturate(2977%) hue-rotate(169deg) brightness(93%) contrast(101%);
}

#viewIcon {
    filter: invert(7%) sepia(11%) saturate(2977%) hue-rotate(169deg) brightness(93%) contrast(101%);
}

#likeIcon {
    filter: invert(47%) sepia(51%) saturate(539%) hue-rotate(84deg) brightness(103%) contrast(97%);
}

#dislikeIcon {
    filter: invert(35%) sepia(97%) saturate(3798%) hue-rotate(345deg) brightness(93%) contrast(102%);
}

.recipeCardStatistics {
    font-weight: 650;
    font-family: "Nunito", sans-serif;
}

/* Button that opens the recipe: */
 #recipeCardCheck {
    border-radius: 40px;
    min-width: 100%;
    height: 65px;
    font-size: 20px;
    background-color: #4c803f;
    font-family: "AlbertSans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    transition: all 0.2s ease;
    border: 2px #215f10 solid;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    padding: 0 15px 0 15px;
}

  #recipeCardCheck:active {
    transform: scale(0.96);
  }
  #recipeCardCheck:before,
  #recipeCardCheck:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }


/* Recipes' other elements*/
#recipesGreeting {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 150px;
    margin-bottom: 50px 30px 50px 30px;
}

#recipeCreate {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 4em;
    margin: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    width: 65px;
    height: 65px;
}
