/* Fonts install */
@font-face {
    font-family: Varela;
    src: url("../fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: Fredoka-one;
    src: url("../fonts/FredokaOne.ttf");
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
}

body {
    margin: 0 350px 0 350px;
}

.wrapper {
    text-align: center;
    font-family: "OpenSans", sans-serif;
    background-color: #192229;
    border-radius: 20px;
    max-width: 100%;
    height: 100%;
    padding: 20px;
}

#profilePreview {
    color: white;
    background-color: rgb(33, 41, 48);
    padding: 5px;
    border-radius: 8px;
    margin: 0 30px 0 30px;
}

#profilePreviewTop {
    display: flex;
}

#profilePreviewNames {
    margin: 0 0 0 20px;
    text-align: left;
}

#profilePreviewDisplayName {
    font-size: 25px;
    margin: 0;
}

#profilePreviewUsername {
    margin: 0;
}

#editLabel {
    font-size: 50px;
    text-align: center;
    margin: 10px 0 5px 0;
}

.nameLabel {
    font-size: 23px;
    color: #d8d8d8;
    font-weight: 650;
    margin: 8px;
}

#displayNameBtn {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 75px;
    font-weight: 750;
    padding: 3px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#displayNameBtn:active {
    transform: scale(0.92);
}
#displayNameBtn:before,
#displayNameBtn:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

#usernameBtn {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 75px;
    font-weight: 750;
    padding: 3px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#usernameBtn:active {
    transform: scale(0.92);
}
#usernameBtn:before,
#usernameBtn:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.pfpBtn {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 75px;
    font-weight: 750;
    padding: 3px;
    font-size: 100%;
    margin-top: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.pfpBtn:active {
    transform: scale(0.92);
}
.pfpBtn:before,
.pfpBtn:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

#pfpNew {
    margin-right: 4px;
}

#pfpGallery {
    margin-left: 4px;
}

.bannerBtn {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 75px;
    font-weight: 750;
    padding: 3px;
    font-size: 100%;
    margin-top: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.bannerBtn:active {
    transform: scale(0.92);
}
.bannerBtn:before,
.bannerBtn:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

#bannerNew {
    margin-right: 4px;
}

#bannerGallery {
    margin-left: 4px;
}

.mainLabel {
    font-size: 30px;
    font-weight: 750;
    color: white;
    margin: 12px;
    margin: 10px 0 35px 0;
}

.name {
    color: white;
    font-size: 30px;
    margin: 4px;
}

.hrSeperator {
    width: 90%;
    height: 2px;
    background-color: #394955;
    border: none;
}

#nameWrapper {
    display: flex;
    justify-content: space-between;
}

#decorationWrapper {
    display: flex;
    justify-content: space-between;
}


#changeDisplayName {
    margin-left: 150px;
}

#changeUsername {
    margin-right: 150px;
}

#descriptionBtn {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 75px;
    font-weight: 750;
    padding: 3px;
    font-size: 100%;
    margin-top: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

#descriptionBtn:active {
    transform: scale(0.92);
}
#descriptionBtn:before,
#descriptionBtn:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

#changeDnPopupLabel {
    color: #fff;
    font-weight: 750;
    font-size: 25px;
}

#changeDnPopup {
    background-color: #192229;
    text-align: center;
    width: 580px;
    min-height: 300px;
    font-family: "OpenSans", sans-serif;
    border-radius: 8px;
    padding: 0px;
    margin: 25px;
    position: absolute;
    right: 0;
    transition: all 0.2s ease;
    margin: 0 auto;
}

#changeDnPopupWarn {
    color: #ffd104;
    font-size: 12px;
    margin: 15px 0 0 0;
}

#changeDnPopupInput {
    background-color: #d3d3d3;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #06080a;
    margin: 15px 0 0 0;
    font-size: 20px;
    outline: none;
    color: #06080a;
    padding: 2px 7px 2px 7px;
}
#changeDnPopupInput::placeholder {
    color: #6d7680;
}


#changeDnPopupApply {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease;
}

#changeDnPopupApply:active {
    transform: scale(0.92);
}
#changeDnPopupApply:before,
#changeDnPopupApply:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

#changeDnPopupDiscard {
    background-color: #ec3838;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
}

#changeDnPopupDiscard:active {
    transform: scale(0.92);
}
#changeDnPopupDiscard:before,
#changeDnPopupDiscard:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.changeDnPopupBtns {
    display: flex;
    justify-content: space-between;
}

#changeDnPopupCurrent {
    margin: 15px 0 0 0;
    color: #b9b9b9;
    font-size: 18px;
}

#changeDnPopupCurrentName {
    color: #eeeeee;
}

#changeDnPopupTop {
    background-color: #293844;
    color: #293844;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 0;
}

#changeDnPopupBottom {
    background-color: #293844;
    color: #293844;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 5px 0 0 0;
}

#changeUsPopupTop {
    background-color: #293844;
    color: #293844;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 0;
}

#changeUsPopupBottom {
    background-color: #293844;
    color: #293844;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 5px 0 0 0;
}

#changeUsPopupLabel {
    color: #fff;
    font-weight: 750;
    font-size: 25px;
}

.changeUsPopup {
    background-color: #192229;
    text-align: center;
    width: 580px;
    min-height: 300px;
    font-family: "OpenSans", sans-serif;
    border-radius: 8px;
    padding: 0px;
    margin: 25px;
}

#changeUsPopupWarn {
    color: #ffd104;
    font-size: 12px;
    margin: 15px 0 0 0;
}

#changeUsPopupInput {
    background-color: #d3d3d3;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #06080a;
    margin: 15px 0 0 0;
    outline: none;
    color: #06080a;
    padding: 2px 7px 2px 7px;
    font-size: 20px;
}

#changeUsPopupInput::placeholder {
    color: #6d7680;
}


#changeUsPopupApply {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease;
}

#changeUsPopupApply:active {
    transform: scale(0.92);
}
#changeUsPopupApply:before,
#changeUsPopupApply:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}


#changeUsPopupDiscard {
    background-color: #ec3838;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
}

#changeUsPopupDiscard:active {
    transform: scale(0.92);
}
#changeUsPopupDiscard:before,
#changeUsPopupDiscard:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.changeUsPopupBtns {
    display: flex;
    justify-content: space-between;
}

#changeUsPopupCurrent {
    margin: 15px 0 0 0;
    color: #b9b9b9;
    font-size: 18px;
}

#changeUsPopupCurrentName {
    color: #eeeeee;
}

#changeUsPopupTop {
    background-color: #293844;
    color: #293844;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 0;
}

#changeUsPopupBottom {
    background-color: #293844;
    color: #293844;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 5px 0 0 0;
}

#changeUsPopupTop {
    background-color: #293844;
    color: #293844;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 0;
}

#changeUsPopupBottom {
    background-color: #293844;
    color: #293844;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 5px 0 0 0;
}

#changeDescPopupLabel {
    color: #fff;
    font-weight: 750;
    font-size: 25px;
}

.changeDescPopup {
    background-color: #192229;
    text-align: center;
    width: 580px;
    min-height: 300px;
    font-family: "OpenSans", sans-serif;
    border-radius: 8px;
    padding: 0px;
    margin: 25px;
}

#changeDescPopupWarn {
    color: #ffd104;
    font-size: 12px;
    margin: 15px 0 0 0;
}

#changeDescPopupInput {
    background-color: #d3d3d3;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #06080a;
    margin: 15px 0 0 0;
    outline: none;
    color: #06080a;
    padding: 2px 7px 2px 7px;
    font-size: 20px;
}

#changeDescPopupInput::placeholder {
    color: #6d7680;
}


#changeDescPopupApply {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease;
}

#changeDescPopupApply:active {
    transform: scale(0.92);
}
#changeDescPopupApply:before,
#changeDescPopupApply:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}


#changeDescPopupDiscard {
    background-color: #ec3838;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
}

#changeDescPopupDiscard:active {
    transform: scale(0.92);
}
#changeDescPopupDiscard:before,
#changeDescPopupDiscard:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.changeDescPopupBtns {
    display: flex;
    justify-content: space-between;
}

#changeDescPopupCurrent {
    margin: 15px 0 0 0;
    color: #b9b9b9;
    font-size: 18px;
}

#changeDescPopupCurrentName {
    color: #eeeeee;
}

#changeDescPopupTop {
    background-color: #293844;
    color: #293844;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 0;
}

#changeDescPopupBottom {
    background-color: #293844;
    color: #293844;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 5px 0 0 0;
}

#changePfpPopupLabel {
    color: #fff;
    font-weight: 750;
    font-size: 25px;
}

.changePfpPopup {
    background-color: #192229;
    text-align: center;
    width: 580px;
    min-height: 300px;
    font-family: "OpenSans", sans-serif;
    border-radius: 8px;
    padding: 0px;
    margin: 25px;
    position: absolute;
    right: 0;
    transition: all 0.2s ease;
}

#changePfpPopupWarn {
    color: #ffd104;
    font-size: 12px;
    margin: 15px 0 0 0;
}

#changePfpPopupInput {
    background-color: #d3d3d3;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #06080a;
    margin: 15px 0 0 0;
    font-size: 20px;
    outline: none;
    color: #06080a;
    padding: 2px 7px 2px 7px;
}
#changePfpPopupInput::placeholder {
    color: #6d7680;
}


#changePfpPopupApply {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease;
}

#changePfpPopupApply:active {
    transform: scale(0.92);
}
#changePfpPopupApply:before,
#changePfpPopupApply:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

#changePfpPopupDiscard {
    background-color: #ec3838;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
}

#changePfpPopupDiscard:active {
    transform: scale(0.92);
}
#changePfpPopupDiscard:before,
#changePfpPopupDiscard:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.changePfpPopupBtns {
    display: flex;
    justify-content: space-between;
}

#changePfpPopupCurrent {
    margin: 15px 0 0 0;
    color: #b9b9b9;
    font-size: 18px;
}

#changePfpPopupCurrentName {
    color: #eeeeee;
}

#changePfpPopupTop {
    background-color: #293844;
    color: #293844;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 0;
}

#changePfpPopupBottom {
    background-color: #293844;
    color: #293844;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 5px 0 0 0;
}

#changeBannerPopupLabel {
    color: #fff;
    font-weight: 750;
    font-size: 25px;
}

.changeBannerPopup {
    background-color: #192229;
    text-align: center;
    width: 580px;
    min-height: 300px;
    font-family: "OpenSans", sans-serif;
    border-radius: 8px;
    padding: 0px;
    margin: 25px;
    position: absolute;
    right: 0;
    transition: all 0.2s ease;
}

#changeBannerPopupWarn {
    color: #ffd104;
    font-size: 12px;
    margin: 15px 0 0 0;
}

#changeBannerPopupInput {
    background-color: #d3d3d3;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #06080a;
    margin: 15px 0 0 0;
    font-size: 20px;
    outline: none;
    color: #06080a;
    padding: 2px 7px 2px 7px;
}
#changeBannerPopupInput::placeholder {
    color: #6d7680;
}


#changeBannerPopupApply {
    background-color: #4fb835;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease;
}

#changeBannerPopupApply:active {
    transform: scale(0.92);
}
#changeBannerPopupApply:before,
#changeBannerPopupApply:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

#changeBannerPopupDiscard {
    background-color: #ec3838;
    padding: 5px;
    border: 1px rgb(14, 14, 14) solid;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 55px;
    font-weight: 580;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
}

#changeBannerPopupDiscard:active {
    transform: scale(0.92);
}
#changeBannerPopupDiscard:before,
#changeBannerPopupDiscard:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.changeBannerPopupBtns {
    display: flex;
    justify-content: space-between;
}

#changeBannerPopupCurrent {
    margin: 15px 0 0 0;
    color: #b9b9b9;
    font-size: 18px;
}

#changeBannerPopupCurrentName {
    color: #eeeeee;
}

#changeBannerPopupTop {
    background-color: #293844;
    color: #293844;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 0;
}

#changeBannerPopupBottom {
    background-color: #293844;
    color: #293844;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 20px;
    margin: 5px 0 0 0;
}

.displayFalse {
    display: none;
}