
/* Fonts install */

@font-face {
  font-family: OpenSans;
  src: url(../Fonts/OpenSans.ttf);
}

@font-face {
  font-family: AlbertSans;
  src: url(../Fonts/AlbertSans.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(../Fonts/Nunito.ttf);
}


body {
    margin: 45px 0 0 80px;
    font-family: "Nunito", sans-serif;
    color: #fff;
    background-color: #1a1d21 ;
}
#errorPageTitle {
    font-size: 40px;
    margin: 0;
    font-weight: 500;
    font-family: "OpenSans", sans-serif;
}

#errorPageBtn {
    border-radius: 40px;
    min-width: 1px;
    height: 65px;
    font-size: 20px;
    background-color: #4fb835;
    font-family: "AlbertSans", sans-serif;
    font-weight: 450;
    transition: all 0.2s ease;
    border: 3px #32522a solid;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}

  #errorPageBtn:active {
    transform: scale(0.96);
  }
  #errorPageBtn:before,
  #errorPageBtn:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }

  #errorPageDesc {
    margin: 10px 0 25px 0;
  }