/* Fonts import: */
@font-face {
    font-family: AlbertSans;
    src: url(AlbertSans.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(Nunito.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(images/food-background#jpg)
}

/* Navigation bar */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #558748;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    z-index: 100;
}

#logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

#navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

#navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .15s;
}

#navbar a:hover::after {
    transform: scaleX(1);
}

#navbar #btnLogin-popup {
    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

#sub-menu-wrap {
    position: absolute;
    top: 70%;
    right: 5%;
    width: 320px;
    font-weight: 350;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
    border-radius: 15px;
}

#sub-menu-wrap#open-menu {
    max-height: 400px;
}

#sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-info #username {
    font-weight: 500;
    font-size: 25px;
}

#user-info #profilePicture {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

#sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

#sub-menu-wrap p {
    color: #000000;
    width: 100%;
    transition: transform 0.25s;
    font-family: "OpenSans", sans-serif;
    font-weight: 450;
}

#sub-menu-wrap a {
    color: #000000;
}

#sub-menu-link img {
    width: 45px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

#sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;
}

#sub-menu-link span {
    font-size: 22px;
    transition: transform 0.25s;
}

#sub-menu-link:hover span{
    transform: translateX(7px);
}

#sub-menu-link:hover p{
    transform: translateX(7px);
    font-weight: 550;
}

/* #navbar #btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1#1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: #5s;
}

#navbar #btnLogin-popup:hover {
    background: #ffffff;
    color: #162938;
} */

* {
margin: 0;
    box-sizing: border-box;
}

/* Recipe check */

#wrapper {
    background-color: #1a1d21;
    color: #ffffff;
    padding: 30px;
    margin: 120px 0 30px 0;
    border-radius: 12px;
    width: 1600px;
}

.labelIcon {
    display: flex;
    align-items: center;
}

#hrSeperator {
    border: 1px #a9a9a9 solid;
    text-align: center;
    margin: 20px 0 20px 0;
}

#closeRecipeIcon {
    filter: invert(73%) sepia(99%) saturate(2816%) hue-rotate(312deg) brightness(100%) contrast(103%);
    vertical-align: middle;
}

#closeRecipeBtn {
    background: none;
    border-radius: 5px;
    border: 1px #162938;
    font-family: "AlbertSans", sans-serif;
    color: #ff7979;
    font-size: 1.2em;
    cursor: pointer;

}

#recipeName {
    font-weight: 750;
    font-family: "OpenSans", sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 0;
}

#recipeDescription {
    font-weight: 500;
    font-family: "AlbertSans", sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

#recipeCheckImg {
    height: 365px;
    justify-content: space-between;
}
 
.label {
    font-family: "OpenSans", sans-serif;
    font-weight: 680;
    font-size: 30px;
    display: flex;
    margin-bottom: 8px;
    vertical-align: middle;
}

.list {
    font-family: "AlbertSans", sans-serif;
    font-size: 20px;
}

#instructions {
    font-family: "AlbertSans", sans-serif;
    font-size: 20px;
}

#ratingElements{
    display: flexbox;
}

#likeBtn {
    background-color: #27343b;
    border: 0px;
    border-radius: 4px;
}

#dislikeBtn {
    background-color: #27343b;
    border: 0px;
    border-radius: 4px;
}

#reviewDislikeBtn {
    background-color: #262a30;
    border: 0px;
}

#reviewLikeBtn {
    background-color: #262a30;
    border: 0px;
}

#likeIcon {
    filter: invert(47%) sepia(51%) saturate(539%) hue-rotate(84deg) brightness(103%) contrast(97%);
}

#dislikeIcon {
    filter: invert(35%) sepia(97%) saturate(3798%) hue-rotate(345deg) brightness(93%) contrast(102%);
}

#displayFalse {
    display: none;
}

#displayTrue {
    display: block;
}

#recipeDate {
    font-family: "AlbertSans", sans-serif;
    font-weight: 350;
    margin: 7px 0 13px 0;
    font-size: 18px;
    color: #a8a8a8;
}

#ratingButtons {
    display: flex;
    margin-right: 850px;
    color: white;
    margin-bottom: 20px;
}

#likeCounter {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0 10px 0 10px;
    margin-right: 6px;
}

#dislikeCounter {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-left: 6px;
}

#reviewLikeCounter {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0 10px 0 10px;
    margin-right: 6px;
}

#reviewDislikeCounter {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-left: 6px;
}


#likeBtn {
    margin-right: 15px;
}

/* Recipe's tags */

.tags {
    font-family: "AlbertSans", sans-serif;
    background-color: #528748b4;
    border-radius: 12px;
    min-width: 1px;
    font-size: 16px;
    padding: 6px;
    margin: 0 2px 0 2px;
}

/* Leave a review for the recipe.*/
#reviewElementsTop {
    display: flex;
    justify-content: space-between;
}

#reviews {
    display: flexbox;
}

#leaveReview {
    border-radius: 40px;
    width: 250px;
    height: 65px;
    font-size: 20px;
    background-color: #4c803f;
    font-family: "AlbertSans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    transition: all 0.2s ease;
    border: 2px #184d0a solid;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    padding: 0 15px 0 15px;
}

#reviewTop {
    display: flex;
    gap: 8px;
    background-color: #262a30;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px;
}

#reviewCard {
    border-radius: 4px;
    font-family: "Varela", sans-serif;
    max-width: 500px;
    margin: 10px 0 10px 0;
}

#reviewInteract {
    right: 0;
}

#reviewAuthor {
    font-weight: 550;
}

#reviewStars {
    margin-right: 54%;
}

#reviewInteract {
    background-color: #131313;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    float: right;
    padding: 4px;
    border: none;
    width: 32px;
    height: 32px;
}

#reviewMiddle {
    background-color: #343941;
}

#reviewIcon {
    align-items: center;
    vertical-align: middle;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}

#reviewComment {
    padding: 2px 5px 10px 5px;
}

#reviewBottom {
    background-color: #262a30;
    display: flex;
}

#ingredientList {
    display: flexbox;
    font-family: "AlbertSans", sans-serif;
}

.ingredient {
    display: flex;
    align-items: center;
}

.IngredientNumber {
    font-weight: 620;
    font-size: 20px;
    margin: 0 8px 0 0;
    color: #5e5e5e;
}

.ingredientName {
    color: #ffffff;
    margin: 0 15px 0 0;
}

.ingredientQuantity {
    color: #a8a8a8;
    margin: 0 15px 0 0;
}

#equipmentList {
    display: flexbox;
    font-family: "AlbertSans", sans-serif;
}

.equipment {
    display: flex;
    align-items: center;
}

.equipmentNumber {
    font-weight: 620;
    font-size: 20px;
    margin: 0 8px 0 0;
    color: #5e5e5e;
}

.equipmentName {
    color: #ffffff;
    margin: 0 15px 0 0;
}

#instructionsList {
    display: flexbox;
    font-family: "AlbertSans", sans-serif;
}

.instruction {
    display: flex;
    align-items: center;
}

.instructionNumber {
    font-weight: 620;
    font-size: 20px;
    margin: 0 8px 0 0;
    color: #5e5e5e;
}

.instructionName {
    color: #ffffff;
    margin: 0 15px 0 0;
}

#reviewInteractMenu {
    font-family: "OpenSans", sans-serif;
    background-color: #262a30;
    color: white;
    width: 200px;
}
.reviewInteract {
    cursor: pointer;
    align-items: center;
    display: flex;
}

#shareIcon {
    filter: invert(61%) sepia(39%) saturate(524%) hue-rotate(63deg) brightness(92%) contrast(90%);
}

#reportIcon {
    filter: invert(13%) sepia(49%) saturate(5690%) hue-rotate(353deg) brightness(76%) contrast(117%);
}

#ImagesWrapper {
    justify-content: space-between;
    display: flex;
}

.recipeCheckImg {
    width: 100%;
    height: 350px;
    margin: 0 5px 0 5px;
}