
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Varela;
    src: url("fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: Fredoka-one;
    src: url("../fonts/FredokaOne.ttf");
}

body {
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color: #161718;
    min-height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(images/food-background.jpg)
}

/* Navigation bar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #558748;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .15s;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin-popup:hover {
    background: #ffffff;
    color: #162938;
}

* {
margin: 0;
font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.recipes {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: left;
    align-content: center;
    padding: 50px 15px 15px 15px;
    margin: 120px 15px 15px 15px;
    flex-wrap: wrap;
}

/* Recipe card */

.recipes .recipeCard {
    background-color: #d3dad2;
    border: #5b7e53 8px solid;
    color: #2A2B2E;
    padding: 20px 20px 0 20px;
    margin: 17px;
    border-radius: 20px;
    height: 850px;
    width: 470px;
}

.recipeCardTop1 {
    display: flex;
    padding: 15px 0;
    gap: 15px;
    align-items: center;
}

.recipeCardTop2 {
    display: flex;
}

.recipes .recipeCard .recipeCardAuthor {
    font-size: 15px;
}

.recipes .recipeCard .recipeCardName {
    font-weight: 650;
    font-size: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.recipes .recipeCard .recipeCardDecription {
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
}

.recipes .recipeCard .recipeCardTimeToMake {
     font-size: 18px;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     gap: 10px;
}

.recipes .recipeCard .recipeCardCostToMake {
    font-size: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 14px;
}

.recipes .recipeCard .recipeCardFoodImg {
    width: 100%;
    height: 430px;
    align-content: center;
    border-radius: 7px;
    border: 4px solid #32522a;

}
.recipes .recipeCard .recipeCardStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 0 15px 0 15px;
}

.recipes .recipeCard .recipeCardMenu {
    background-color: #131313;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    float: right;
    padding: 4px;
    border: none;
}

.recipes .recipeCard .recipeCardMenuIcon {
    align-items: center;
    vertical-align: middle;
    width: 32px;
    filter: invert(97%) sepia(100%) saturate(13%) hue-rotate(250deg) brightness(104%) contrast(104%);
}

.recipes .recipeCard .recipeCardStats img {
    vertical-align: middle;
}

#eeee {
    filter: invert(7%) sepia(11%) saturate(2977%) hue-rotate(169deg) brightness(93%) contrast(101%);
}

.recipes .recipeCard #viewIcon {
    filter: invert(7%) sepia(11%) saturate(2977%) hue-rotate(169deg) brightness(93%) contrast(101%);
}

.recipes .recipeCard #likeIcon {
    filter: invert(47%) sepia(51%) saturate(539%) hue-rotate(84deg) brightness(103%) contrast(97%);
}

.recipes .recipeCard #dislikeIcon {
    filter: invert(35%) sepia(97%) saturate(3798%) hue-rotate(345deg) brightness(93%) contrast(102%);
}

.recipes .recipeCard .recipeCardStatistics {
    font-weight: 660;
}

.recipes .recipeCard .recipeCardCheck {
    border-radius: 40px;
    width: 100%;
    height: 65px;
    font-size: 2em;
    background-color: #4fb835;
    font-family: "Fredoka-one", sans-serif;
    font-weight: 450;
    transition: all 0.2s ease;
    border: 3px #32522a solid;
    margin-top: 20px;
    cursor: pointer;
}

  .recipeCardCheck:active {
    transform: scale(0.96);
  }
  .recipeCardCheck:before,
  .recipeCardCheck:after {
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }


/* Recipes' other elements*/

.recipesGreeting {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 150px;
    margin-bottom: 50px 30px 50px 30px;
}

.recipeCreate {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 4em;
    margin: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    width: 65px;
    height: 65px;
}

