
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Varela;
    src: url("fonts/VarelaRound-Regular.ttf");
}

.recipes {
    position: relative;
    width: 1800px;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: left;
    align-content: center;
    padding-top: 250px;
    margin: 200px 15px 15px 15px;
    flex-wrap: wrap;
}

.recipes .recipeCard {
    background-color: white;
    border: #aae19c 8px solid;
    color: #2A2B2E;
    padding: 20px 20px 0 20px;
    margin: 17px;
    border-radius: 20px;
    min-height: 750px;
    width: 470px;
}

.recipes .recipeCard .recipeCardAuthor {
    font-size: 15px;
}

.recipes .recipeCard .recipeCardName {
    font-weight: 650;
    font-size: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.recipes .recipeCard .recipeCardDecription {
    font-size: 14px;
    text-align: center;
}

.recipes .recipeCard .recipeCardTime {
     font-size: 18px;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     gap: 10px;
}

.recipes .recipeCard .recipeCardCost {
    font-size: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.recipes .recipeCard .recipeCardClock {
    height: 8px;
}

.recipes .recipeCard .recipeCardImage {
    width: 100%;
    height: 60%;
    align-content: center;

}
.recipes .recipeCard .recipeCardStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.recipes .recipeCard .recipeCardDate {
    width: 45px;
    display: flex;
    justify-content: left;
}

.recipes .recipeCard .recipeCardInteract {
    background-color: #32522a;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.recipes .recipeCard .recipeCardInteractSvg {
    justify-content: center;
    align-items: center;
}

.recipes .recipeCard .recipeCardStats {
    display: flex;
    gap: 10px;
}

.recipes .recipeCard .recipeCardStats img {
    vertical-align: middle;
}

.recipes .recipeCard #viewIcon {
    filter: invert(7%) sepia(11%) saturate(2977%) hue-rotate(169deg) brightness(93%) contrast(101%);
}

.recipes .recipeCard #likeIcon {
    filter: invert(47%) sepia(51%) saturate(539%) hue-rotate(84deg) brightness(103%) contrast(97%);
}

.recipes .recipeCard #dislikeIcon {
    filter: invert(35%) sepia(97%) saturate(3798%) hue-rotate(345deg) brightness(93%) contrast(102%);;
}

.recipes .recipeCard .recipeCardStatistics {
    font-weight: 660;
}

#UploadRecipe {
    top: -10px;
    right: 60px;
    position: absolute;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    background-color: #6aad56;
    border-radius: 60px;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Varela", sans-serif;
    box-shadow: 6px 6px 0px #32522a;
    border: none;
    margin-bottom: 650px;
    font-weight: 800;
    margin-right: 450px;
    cursor: pointer;
}
